/* Global use */
@import "./reset.css";

$header-height: 70px;
$aside-width: 250px;

/* 改变主题色变量 */
$--color-primary: #409EFF;

/* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";

.form-box{
    width: 600px;
}